html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 1600px;
}

header {
    width: 1200px;
    height: 135px;
    border-top: 10px solid black;
}

.foray-logo {
    float: left;
    padding-left: 31px;
    padding-top: 26px;
    padding-bottom: 27px;
}

.gradient-header {
    width: 1200px;
    height: 54px;
}

.order {
    margin-left: 121px;
    font-style: #696969;
    width: 984px;
}

.title {
    margin: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-orientation: center;
    height: 52px;
    width: 100%;
    border-bottom: 2px solid rgba(94, 93, 93, 0.5);
}

.title-item {
    margin: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-orientation: center;
    height: 52px;
    width: 100%;
    background: url("images/GradientOverlay Copy.png");
    border-bottom: 2px solid rgba(94, 93, 93, 0.5);
}

.gradient-order {
    width: 984px;
    height: 52px;
}

.footer {
    height: 423px;
    width: 1200px;
}
.icons {
    width:425px;
    height: 150px;
}

#header-row-1 {
    background: url("images/GradientOverlay Copy.png");
}

#thanks {
    font-size: 38pt;
    font-weight: bold;
    margin-left: 121px;
    font-style: #696969;
    width: 984px;
}

#confirmation {
    font-size: 20pt;
    font-weight: lighter;
    margin-left: 121px;
    font-style: #696969;
    width: 984px;
}

hr {
    width: 963px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    list-style-type: none;  
}

.order {
    padding: 36px 0;
}

.order-nav {
    float: left;
}
.order-nav .column {
    float: left;
    width: 307px;
}
.order-nav .column-item-1 {
    float: left;
    width: 150px;
}
.order-nav .column-item-2 {
    float: left;
    width: 75px;
}
.order-nav .column-item-3 {
    float: left;
    width: 600px;
}
.order-nav .column-item-4 {
    float: left;
    width: 150px;
}
.container-price {
    float: right;
    width: 341px;
    height: 100%;
}
.column-price {
    float: right;
    width: 170.5px;
}
.container-price-final {
    float: right;
    width: 341px;
    height: 100%;
}
.order-nav .title {
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: bold;
}
.order-nav ul {
    font-size: 12px;
}
.order-nav ul li {
    margin-bottom: 7px;
}
.order-nav a {
    color: #8e959c;
}

.footer-info {
    background: black;
    color: white;
    height: 49px;
    width: 1200px;
}
.info-right {
    float: right;
}

