html {
    box-sizing: border-box;
    font-family: Nunito;
  }
  /* *, *:before, *:after {
    box-sizing: inherit;
} */

body {
    width: 1600px;
}

header {
    width: 1200px;
    height: 135px;
    border-top: 10px solid black;
}

.foray-logo {
    float: left;
    padding-left: 31px;
    padding-top: 26px;
    padding-bottom: 27px;
}

.gradient-header {
    width: 1200px;
    height: 54px;
}

.order {
    color: #696969;
}

h1 {
    padding-left: 121px;
    font-size: 52px;
}

a {
    text-decoration: none;
}

